
paleta{
    color:#22e245;
    color:#054393;
    color:#35a7ff;
    color:#ef5151;
    color:#fa7268;
    color:#403232;
}



.header{
    height: 13%;
    width: 100%;
    background-color: #fa7268;
    margin: 0%;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    overflow-x: hidden !important;
}

.header-divs{
    width: 25%;
    height: 100%;
    background-color: inherit;
    float: left;
}

#main-header-div{
    width: 40%;
    background-color: inherit;
}