<!DOCTYPE html>
<html>

<head>
  <title>Lessons</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>

  <div class="container">

    <header>
      <div class="design-border-header-main">
        <div class="header-div" id="pause"></div>
        <div class="header-div" id="score">
          <h2 class="score"> {{score}} </h2>
        </div>
        <div class="header-div" id="userName"> Samuel</div>
      </div>
      <div #myBar id="myProgress">
        <div id="myBar"></div>
      </div>
    </header>





    <div class="questions-container">
      <div class="questions-title  "> Qual Palavra?</div>
      <div class="blocks-wraper">
        <div #answer1 class="questions-div" (click)="onSubmit(a)"> {{a}} </div>
        <div class="questions-div " (click)="onSubmit(b)"> {{b}} </div>
        <div class="questions-div " (click)="onSubmit(c)"> {{c}} </div>
        <div class="questions-div " (click)="onSubmit(d)"> {{d}} </div>
      </div>
    </div>

    <div class="image-container">
      <video class="img-wraper" src="../../assets/imagens/cortado.mp4" autoplay loop></video>
    </div>

    <div #alertWrapper class="alert-wrapper">
      <div class="alert-modal">
        <h1 #alertTitle class="alert-title"> {{answeredQuestion}} </h1>
      </div>
    </div>

    <div class="alert-wrapper-not" *ngIf="timeOut">
      <div class="alert-modal">
        <h1 class="alert-title" id="not"> Tempo acabar, você ter {{score}} pontos, continuar?
        </h1>
        <div class="alert-options">
          <div class="yesOrNo" (click)="ficarNoJogo(true)" id="yes">Sim</div>
          <div class="yesOrNo" (click)="ficarNoJogo(false)" id="no">Não</div>
        </div>
      </div>
    </div>

    <div *ngIf="temCerteza" class="alert-wrapper-not">
      <div class="alert-modal">
        <h1 class="alert-title" id="not"> Você ter certeza? </h1>
        <div class="alert-options">
          <div class="yesOrNo" [routerLink]="['']" id="yes">Sim</div>
          <div class="yesOrNo" (click)="remove()" id="no">Não</div>
        </div>
      </div>
    </div>




  </div>






</body>



<!-- 
<div  class="alert-wrapper-not">
  <div class="alert-modal">
    <h1 class="alert-title" id="not"> Tempo acabar, você ter {{score}} pontos, continuar?
    </h1>
    <div class="alert-options">
      <div class="yesOrNo" (click)="ficarNoJogo(true)" id="yes">Sim</div>
      <div class="yesOrNo" (click)="ficarNoJogo(false)" id="no">Não</div>
    </div>
  </div>
</div>



<div *ngIf="temCerteza" class="alert-wrapper-not">
  <div class="alert-modal">
    <h1 class="alert-title" id="not"> Você ter certeza? </h1>
    <div class="alert-options">
      <div class="yesOrNo" [routerLink]="['']" id="yes">Sim</div>
      <div class="yesOrNo" (click)="remove()" id="no">Não</div>
    </div>
  </div>
</div> -->



</html>