<header>
    <div class="design-border-header-main">
        <div class="flex-row">
            <div class="header-div" id="pause" (click)="pausar()" *ngIf="!this.isPaused">
                <img class="icon-score" src="../../assets/imagens/icons8-pausa-40.png">
            </div>
            <div class="header-div" id="retorna" (click)="retomar()" *ngIf="this.isPaused">
                <img class="icon-score" src="../../assets/imagens/icons8-pausa-40.png">
            </div>
            <div class="header-div" id="retorna">
                <img class="icon-score" src="../../assets/imagens/question.png" (click)="tutorial()" width="40" style="margin-left: 1rem;">
            </div>
        </div>
        <div class="header-div" id="score">
            <img class="icon-score" src="../../assets/imagens/icons8-moedas-48.png">
            <span class="score"> {{score}} </span>
        </div>
        <div class="header-div" id="userName">
            <span>{{username}}</span>
        </div>
    </div>
    <progress-bar [progress]="this.timeLeft" [color]="'#488aff'" class="prog-bar">
    </progress-bar>
</header>

<div class="container-lessons">

    <div class="container" *ngIf="paused">
        <div class="menu-container">
            <div class="menu-options" id="menuComeco" (click)="modalPauseConfirmacao()">
                Menu Começo
            </div>
            <div class="menu-options" id="continuar" (click)="closePauseConfirmacaoModal()"> Continuar Jogo </div>
        </div>
    </div>

    <app-modal></app-modal>

    <div *ngIf="irMenu" class="alert-wrapper-not">
        <div class="alert-modal">
            <h1 class="alert-title" id="not"> Você perder progresso! Você ter certeza? </h1>
            <div class="alert-options">
                <div>
                    <div class="yesOrNo" [routerLink]="['/menu']" id="yes">Sim</div>
                    <div class="yesOrNo" (click)="closePauseConfirmacaoModal()" id="no">Não</div>
                </div>
            </div>
            </div>
            </div>


            <div class="game-container col-12">
                <div class="questions-container col-md-8">
                    <h2>Qual Palavra?</h2>
                    <div class="questions-wrap" *ngIf="!paused && !irMenu"  >
                        <div #answer1 class="questions-div" (click)="onSubmit(this.a)">{{this.a.Palavra}} </div>
                        <div class="questions-div" (click)="onSubmit(this.b)">{{this.b.Palavra}} </div>
                        <div class="questions-div " (click)="onSubmit(this.c)">{{this.c.Palavra}} </div>
                        <div class="questions-div " (click)="onSubmit(this.d)">{{this.d.Palavra}} </div>
                    </div>
                </div>

                <div class="image-container col-md-4">
                    <video [src]="video" autoplay loop></video>
                </div>

            </div>



        </div>