.container-lessons {
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ef5151;
}

.flex-row {
    display: flex;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
    background-color: #403232;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
}

.design-border-header-main {
    padding: 0 1.5rem;
    height: 90%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-div {
    color: white;
}

#score span {
    font-size: 2rem;
}

#userName span {
    font-size: 2rem;
}

.game-container {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
}

.questions-title {
    height: 20%;
    width: 80%;
    font-size: 300%;
    color: white;
    text-align: center;
    margin-top: 15%;
}

.blocks-wraper {
    width: 100%;
    height: 70%;
}

.questions-wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.questions-div {
    flex: 1 1 100%;
    margin-top: 3%;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 160%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.questions-div:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    cursor: pointer;
}

h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.img-wraper {
    width: 70%;
    height: 70%;
    margin-top: 25%;
}

.image-container {
    text-align: center;
}

.alert-wrapper {
    width: fit-content;
    height: fit-content;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 3;
    margin-left: 42%;
    background-color: #22e245;
    position: absolute;
    display: none;
    text-align: center;
}

.alert-wrapper1 {
    width: fit-content;
    height: fit-content;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 3;
    margin-left: 42%;
    background-color: #403232;
    position: absolute;
    display: none;
    text-align: center;
}

.questions-div:invalid{
        opacity: 0.4;
}

.alert-title {
    color: white;
}

#not {
    color: white;
}

.alert-wrapper-not {
    position: absolute;
    margin-top: 10%;
    width: 30%;
    height: fit-content;
    z-index: 3;
    margin-left: 25%;
    background-color: #403232;
    text-align: center;
    font-size: 80%;
    color: white;
    box-shadow: 0 0 .5em #fa7268;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
}

.yesOrNo {
    display: inline-block;
    font-size: 200%;
    color: white;
    margin-bottom: 5%;
}

#yes {
    margin-right: 30%;
    background-color: #22e245;
    width: 30%;
}

#no {
    background-color: #ef5151;
    width: 30%;
}

.prog-bar {
    z-index: 9999;
}


.container {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    z-index: 99;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    
}

.paused-tag{
    font-size: 550%;
    color: #ffeb3b;
    margin-top: 38%;
    text-shadow: 0 0 4px white;
   
}

.menu-container {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.75);
    height: 40%;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.55);
    z-index: 99999;
}

.menu-options {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    height: 35%;
    color: white;
    font-size: 300%;
    background-position: left;
    background-size: 8%;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}

.menu-options:hover {
    cursor: pointer;
}



#menuComeco{
    background-color:  #4A7351;
    background-image: url('../../assets/imagens/list1.png');
}

#continuar{
    background-image: url('../../assets/imagens/long-arrow-pointing-to-the-right.png');
    background-color: #4E748F;
}


/* #myProgress {
    width: 100%;
    background-color: #fa7268
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #35a7ff;
  } */