<!DOCTYPE html>


<head>
    <title>Redefinir Senha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

</head>

<body>
    <div class="container">
        <h1 class="title">PortuLibras</h1>
        <div class="login-container">
            <div class="login">
                <input class="input" type="text" placeholder="Usuário:"> </div>
            <div class="login">
                <input class="input" type="email" placeholder="E-mail:"> </div>
            <div class="login">
                <input class="input" type="password" placeholder="Senha:"> </div>
            <div class="login">
                <input class="input" type="password" placeholder="Repetir senha:"> </div>
                <div class="entrar" ><img src="../../assets/imagens/login.png" alt=""> <h2 [routerLink]="['']" >Redefinir senha</h2> </div>
        
            </div>
    </div>
</body>