
.container-tutorial{
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 100px);
    align-items: center;
    justify-content: space-between;
    background-color: #E47261;
}

.title{
    text-align: center;
    color: white;
    font-size: 450% ;
    text-shadow: 4px 4px #EE9386;

} 

img{
    height: 80%;
    width: 99%;
    align-items: center;
    justify-content: space-between;
}
