<div class="header-container bg-cor-2">
    <div   class="header-divs col-md-6" >
        <img   src="../../assets/imagens/long-arrow-pointing-to-left.png" width="50px" alt="" [routerLink]="['/login']"> 
        <h2  class="menu d-inline-block align-top col-md-6" [routerLink]="['/login']" >Voltar</h2>
    </div>
   <div *ngIf="this.headerService.menuLogado" class="header-divs col-md-6" (click)="this.headerService.mostraOpcoes(true) "> {{this.decodedToken?.Username}} </div>
    <div *ngIf="!this.headerService.menuLogado"   [routerLink]=" ['login'] "  class="header-divs col-md-6" >Entrar Conta
        <img  class="transaladar  d-inline-block align-top " width="50" height="50" src="../../assets/imagens/sair.png" alt="">
    </div>
</div>

<div class="container-recuperar bg-cor-1">   
        <app-modal></app-modal> 
    <div class="recuperar-wrap col-md-6" *ngIf="confirmacaoEmail">
        <h1 class="title">Lembrar senha</h1> 
        <form  [formGroup]="Email" (ngSubmit)="onSubmit(Email)"   class="col-md-12">

            

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2" type="email" formControlName="Email" placeholder="E-mail:">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <button type="submit" class="entrar bg-azul" >
                            <img style="margin-left: 5%" src="../../assets/imagens/login.png" alt="">
                            <h2>Confirmar Conta</h2>
                        </button>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <button type="submit" class="entrar bg-verde" (click)='criarConta()'>
                                <img style="margin-left: 5%" src="../../assets/imagens/add-people-interface-symbol-of-black-person-close-up-with-plus-sign-in-small-circle.png" alt="">
                                <h2>Criar Conta</h2>
                            </button>
                </div>
            </div>

        </form>

    </div>

    <div class="recuperar-wrap col-md-6" *ngIf="!confirmacaoEmail">

        <h1 class="title">Digitar número</h1>
        <form [formGroup]="codigoReset" (ngSubmit)="enviaCodigo(codigoReset)"  class="col-md-12">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2" id="numeroRecuperacao" formControlName="CodigoReset" type="text" placeholder="Numero:">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <button type="submit" class="entrar bg-azul">
                                <img style="margin-left: 5%" src="../../assets/imagens/login.png" alt="">
                                <h2>Confirmar número</h2>
                            </button>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <button type="button" (click)="reenviaTokenEmail()"  class="entrar bg-verde">
                                    <img style="margin-left: 5%" src="../../assets/imagens/receber-email.png" alt="">
                                    <h2>Receber número</h2>
                                </button>
                </div>
            </div>

        </form>

    </div>

</div>