
paleta{
    color:#22e245;
    color:#054393;
    color:#35a7ff;
    color:#ef5151;
    color:#fa7268;
    color:#403232;
}
@font-face {
    src: url('../../fonts/Skranji/Skranji-Regular.ttf');
    font-family: 'Skranji-Regular';    
    font-weight: normal;
} 


body{
    font-family: 'Skranji-Regular'; 
    letter-spacing: .1rem;
}


.container{
    height:98%;
    width:100%;
    left: 0;
    background-color: #ef5151;
    position: absolute;
    margin: 0px;
    overflow-x: hidden;
}

.score-container{
    background-color: #ef5151;
    height: 100%;
    width: 65%;
    margin-left: 20%;
    
} 

.input{
    width: 100%;
    height: 15%;
    background-color: #403232;
    color: white;
    font-size: 200%;
    display: flex;
  
}

.img-coins{
   width: 50%;
   background-image: url('../../assets/imagens/icons8-moedas-48.png');
   background-repeat: no-repeat;
   height: 100%;
   background-color: #403232;
   color: white;
  background-position-x: left;
  float: left;
  margin-left: 10%;
}

.score-points{
    width: 50%;
    height: 100%;
    background-color: #403232;
    color: white;
    text-align: end ;
    float: left;
    padding-right: 10%;
}


.flexcroll{ 
    height:70%;
    overflow-y:scroll;
    width: 40%;
    margin-left: 25%;
    margin-right: 15%;
    margin-top: 10%;
   }


   
.flexcroll{
scrollbar-face-color: #367CD2;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #FFFFFF;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
width: 20px;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 50px #fa7268;

}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
background:#35A7FF;
}