.container-score {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.score-wrap {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.title {
    text-align: center;
    color: white;
    font-size: 450%;
    text-shadow: 4px 4px #EE9386;
}

.score-container {
    overflow-y: scroll;
    height: 500px;
}

.list-item {
    padding: 1rem;
    color: white;
    font-size: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


/* Let's get this party started */

.score-container::-webkit-scrollbar {
    width: 20px;
}


/* Track */

.score-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 50px #fa7268;
}


/* Handle */

.score-container::-webkit-scrollbar-thumb {
    background: #35A7FF;
}