

<div class="header-container bg-cor-2">
    <div   class="header-divs col-md-6" >
        <img   src="../../assets/imagens/long-arrow-pointing-to-left.png" width="50px" alt="" [routerLink]="['/login']"> 
        <h2  class="menu d-inline-block align-top col-md-6" [routerLink]="['/login']" >Voltar</h2>
    </div>
   <div *ngIf="this.headerService.menuLogado" class="header-divs col-md-6" (click)="this.headerService.mostraOpcoes(true) "> {{this.decodedToken?.Username}} </div>
    <div *ngIf="!this.headerService.menuLogado"   [routerLink]=" ['login'] "  class="header-divs col-md-6" >Entrar Conta
        <img  class="transaladar  d-inline-block align-top " width="50" height="50" src="../../assets/imagens/sair.png" alt="">
    </div>
</div>


<div class="container-criar-conta bg-cor-1">
    <div class="criar-conta-wrap col-md-6">

        <h1 class="title">Cadastro</h1>
        <form [formGroup]="user" (ngSubmit)="onSubmit(user)" class="col-md-12 flexcroll">

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="text" formControlName="Nome" placeholder="Nome:" autofocus >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="text" formControlName="Sobrenome" placeholder="Sobrenome:" >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="text" formControlName="Username" placeholder="Usuário:" >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="email" formControlName="Email" placeholder="E-mail:">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="password" formControlName="Senha" placeholder="Senha:">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="password" formControlName="reSenha" placeholder="Repetir senha:">
                    <label *ngIf="!this.ValidationFormService.erro.status"  class="input error" autofocus  type="text"> {{this.ValidationFormService.erro.msg}} </label>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3 flex-termos">
                    <h3>Termos de uso e Privacidade</h3>
                    <textarea class="termos-uso input bg-cor-2" name="termosUso" disabled>
O presente documento tem por objeto estabelecer as Condições de Uso e Política de Privacidade do site de Intenet portulibras.com.br (http://portulibras.com.br) incrito no CNPJ/MF sob o número 11.111.111/1111-11. O PortuLibras (http://portulibras.com.br) oferece serviço online de associação da língua de sinais para a Língua Portuguesa em parceria com a faculdade FATEC Faculdade de Tecnologia de Americana (http://www.fatec.edu.br/) inscrita no  CNPJ/MF62.823.257/0016-87. As Condições Gerais de Uso não excluem a possibilidade de determinados serviços do site (http://portulibras.com.br), por suas características particulares, serem submetidos, além das Condições de Uso, às suas próprias condições de uso (as “Condições Particulares”).
1. CONDIÇÕES DE USO
A utilização de qualquer serviço disponível no PortuLibras atribui, a quem se utilizar de tais serviços, a condição de Usuário (O “Usuário”). A utilização por parte do Usuário de qualquer dos serviços disponibilizados pelo PortuLibras importará na sua adesão e aceitação expressas às Condições de Uso, em qualquer dos suportes digitais em que se encontre, desde o momento em que o Usuário acesse o mesmo, assim como às  Condições Particulares que, de acordo com o caso, sejam aplicáveis.
1.1	Para a utilização dos Serviços disponibilizados pelo PortuLibras o Usuário deverá efetuar o seu Cadastro  para identificação no PortuLibras. Para o Cadatro de um Usuário como no PortuLibras, deverão ser fornecidos dados como nome completo, nome de usuário e e-mail.
1.2	Os Dados Cadastrais inseridos no formulário deverão ser completos, preenchendo todos os espaços obrigatórios, sendo o Usuário o único responsável pelos dados fornecidos.
1.3	O usuário é o único responsável por qualquer operação realizada em sua conta no PortuLibras, devendo o mesmo, manter em sigilo suas senhas, de forma que o PortuLibras não será em hipótese alguma responsável por quais prejuízos causados ao usuário ou a terceiros, por divulgação ou utilização indevida destas.
1.4	A Conta PortuLibras é única e intransferível, sendo atribuída a um único Usuário. Este Usuário não poderá permitir o uso de sua Conta por quaisquer terceiros.
1.4.1 O PortuLibras não solicita em nenhuma hipótese, o e-mail e senha dos usuários cadastrados.
2. O APLICATIVO WEB
2.1. O aplicativo web é gratuito. Após efetuar o acesso, você poderá começar a usá-lo e a qualquer momento poderá fechá-lo.
2.2. Para conseguir usar o aplicativo web é necessário um dispositivo desktop, startphone ou tablet, compatível com as requisições mínimas de processamento, tela e sistema operacional.
3. RESPONSABILIDADES
3.1. A PortuLibras não se responsabiliza por algum dano que sejá causado a você ou a terceiros pela utilização do aplicativo, pois disponibiliza apenas uma ferramenta de associação da língua de sinais para a Língua Portuguesa, sendo que o conteúdo reproduzido pelo intérprete é préviamente aprovado pela PortuLibas.
3.2. Ainda, a PortuLibras não será responsabilizada, sob quaisquer circunstâncias, por eventuais perdas e danos relacionados ao uso do aplicativo web. 
4. DISPONIBILIDADE DO SERVIÇO
4.1 O aplicativo web PortuLibras oferece o serviço de associação da língua de sinais para a Língua Portuguesa gratuitamente e com a melhor qualidade possível, porém não se declara livre de erros.
4.2 A PortuLibras reserva-se ao direito de, a qualquer momento, modificar ou suspender de vez ou temporariamente o aplicativo.
5. PROPRIEDADE INTELECTUAL E DIREITOS DA MARCA
5.1. Os elementos e ferramentas do aplicativo web são de autoria da PortuLibras, e sua utilização não confere quaisquer direitos relativos à propriedade intelectual.
5.2. O uso do aplicativo para fins comerciais ou eleitorais não poderá ser feito sem prévia autorização. Você também não poderá vincular a imagem e marca da PortuLibras e seus patrocinadores a qualquer outra marca.
5.3. Os dados gerados em conexão com o uso do aplicativo web serão de propriedade da PortuLibras.
6. DISPOSIÇÕES FINAIS
Estes termos são regidas pelas leis da República Federativa do Brasil, e qualquer ação ou processo judicial relativo a este aplicativo serão regidos por ela. Para qualquer controvérsia ou queixa oriunda da utilização do aplicativo PortuLibras ou aos termos de uso, fica eleito o Foro da Comarca de Americana, Estado de São Paulo, sob a expressa renúnia de qualquer outro, por mais privilegiado que seja. 
        </textarea>
                    <br>
                    <div>
                        <input class="checkbox" formControlName="termo" type="checkbox"> Aceitar termos de uso
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <button class="criar bg-azul" type="submit" [disabled]="!this.ValidationFormService.campoValidate(user)" >
                            <img style="margin-left: 5%; margin-right: 1rem;" width="50" src="../../assets/imagens/add-people-interface-symbol-of-black-person-close-up-with-plus-sign-in-small-circle.png" alt="">
                        Criar conta
                        </button>
                </div>
            </div>

        </form>
    </div>

    