<div class="container-criar-conta bg-cor-1">
    <div class="criar-conta-wrap col-md-6">

        <h1 class="title">Cadastro</h1>
        <form [formGroup]="user" (ngSubmit)="onSubmit(user)" class="col-md-12 flexcroll">

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="text" formControlName="Nome" placeholder="Nome:" autofocus>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="text" formControlName="Sobrenome" placeholder="Sobrenome:" >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="text" formControlName="Username" placeholder="Usuário:" >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="email" formControlName="Email" placeholder="E-mail:">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="password" formControlName="Senha" placeholder="Senha:">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2 col-12" type="password" formControlName="reSenha" placeholder="Repetir senha:">
                    <label class="input error" type="text"> {{erro.msg}} </label>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3 flex-termos">
                    <h3>Termos de uso</h3>
                    <textarea class="termos-uso input bg-cor-2" name="termosUso" disabled>
        É preciso que você siga as políticas disponibilizadas a você dentro 
        dos Serviços.
        Não faça uso indevido de nossos Serviços.
        Por exemplo, não interfira com nossos Serviços nem tente 
        acessá-los por um método diferente da interface e das instruções
        que fornecemos. Você pode usar nossos serviços somente conforme
        permitido por lei, inclusive leis e regulamentos de controle
        de exportação e reexportação. Podemos suspender ou deixar
        de fornecer nossos Serviços se você descumprir nossos termos
        ou políticas ou se estivermos investigando casos de suspeita
        e má conduta.
        O uso de nossos Serviços não lhe confere a propriedade sobre
        direitos de propriedade intelectual sobre os nossos Serviços
        ou sobre o conteúdo que você acessar. Você não pode usar
        conteúdos de nossos Serviços a menos que obtenha permissão
        do proprietário de tais conteúdos ou que o faça por algum 
        meio permitido por lei. Estes termos não conferem a você
        o direito de usar quaisquer marcas ou logotipos utilizados
        em nossos Serviços. Não remova, oculte ou altere quaisquer
        avisos legais exibidos em ou junto a nossos Serviços.
        </textarea>
                    <br>
                    <div>
                        <input class="checkbox" formControlName="termo" type="checkbox"> Aceitar termos de uso
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <button class="criar bg-azul" type="submit" [disabled]="!campoValidate(user)">
                            <img style="margin-left: 5%; margin-right: 1rem;" width="50" src="../../assets/imagens/add-people-interface-symbol-of-black-person-close-up-with-plus-sign-in-small-circle.png" alt="">
                        Criar conta
                        </button>
                </div>
            </div>

        </form>
    </div>