<div class="container-login bg-cor-1">
    <div class="login-wrap col-md-6">

        <h1 class="title">PortuLibras</h1>
        <form [formGroup]="user" (ngSubmit)="onSubmit()" class="col-md-12">

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2" formControlName="Username" type="text" placeholder="Usuário:" autofocus>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input class="input bg-cor-2" formControlName="Senha" type="password" placeholder="Senha:">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <button type="submit" class="entrar bg-azul">
                        <img style="margin-left: 5%" src="../../assets/imagens/login.png" alt="">
                        <h2>Entrar Conta</h2>
                    </button>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <div class="options" [routerLink]="['/menu/redefinir']">Lembrar Senha</div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="options" id="criar-conta" [routerLink]="['/menu/criarconta']">Criar conta</div>
                </div>
            </div>

            <div *ngIf="erro.status" class="form-row">
                <div class="col-md-12 mb-3">
                    <span class="input bg-cor-2"  type="text" placeholder="Erro:" > {{erro.msg}} </span>
                </div>
            </div>
        </form>

    </div>
</div>