<div class="container-creditos">
    <h1 class="title">Créditos</h1>
    <div class="menu-container">
        <div class="container-credits">
            <h2 class="sub-title"> Programação </h2>
            <h3 class="participantes"> Fabio Calcagno </h3>
            <h3 class="participantes"> Ricardo Ferraz </h3>
        </div>
        <div class="container-credits">
            <h2 class="sub-title"> Arte </h2>
            <h3 class="participantes" id="arte"> Samuel Macedonia </h3>
        </div>
        <div class="container-credits" id="filmagens">
            <h2 class="sub-title"> Filmagens </h2>
            <h3 class="participantes" id="filmagens-participante"> Abner Ferreira </h3>
        </div>
        <div class="container-credits">
            <h2 class="sub-title"> Organização e pesquisa </h2>
            <h3 class="participantes"> Samuel Macedo </h3>
            <h3 class="participantes"> Ricardo Ferraz </h3>
        </div>

        <div class="scroll-credits-container">
            <div class="menu-container">
                <h2 class="sub-title" id="scroll-menu"> Modelo </h2>
                <h3 class="participantes"> Izabel Macedo Ferreira </h3>
                <div class="menu-container">
                    <h2 class="sub-title"> Apoio </h2>
                    <div class="img"></div>
                </div>

            </div>


        </div>
    </div>
</div>