paleta{
    color:#22e245;
    color:#054393;
    color:#35a7ff;
    color:#ef5151;
    color:#fa7268;
}

@font-face {
    src: url('../../fonts/Skranji/Skranji-Regular.ttf');
    font-family: 'Skranji-Regular';    
    font-weight: normal;
} 


body{
    font-family: 'Skranji-Regular'; 
    letter-spacing: .1rem;
   
}

.container{
    height:100%;
    width:100%;
    left: 0;
    background-color: #ef5151;
    position: absolute;
    margin: 0px;
    margin-top: 5%;
    scroll-behavior: auto;
   
    
}



.title{
color:white;
font-size: 450%;
margin-top: 5%;
text-align: center;
text-shadow: 4px 4px #fa7268;
margin-bottom: 2%;

} 


.menu-container{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fa7268;
    height: 50%;
    
} 

.menu-container > .container-credits{
    height: 60%;
  
}

.container-credits{
    background-color: #fa7268;
    display: inline-block;
    vertical-align: middle;
    height: 55%;
    line-height: 1em;
   
   
}

.container-credits {
    margin-top: 3%;
}

.container-credits:nth-of-type(odd){
    width: 40%; 
} 

.container-credits:nth-of-type(even){
    width: 60%;
}
.container-credits:nth-child(2){
    height: 30%;
    vertical-align: top;
}
.container-credits:nth-child(4){
    box-sizing: border-box;
    vertical-align: top;
    margin-top: -5%;
}



#filmagens{
   margin-top: -5%;
  
}
#filmagens .sub-title{
    padding-top: 5%;
}

.credits-center{
    margin-left: 30%;
    margin-right: 30%;
}

.sub-title{
    color: white;
    font-size: 2em;
    text-align: center;
} 
.participantes{
    color: #403232;
    text-align: center;
    font-size: 1.5em;
}


.scroll-credits-container{
    height:120%;
    width:100%;
    left: 0;
    background-color: #ef5151;
    position: absolute;
    padding-top: 7%;
    vertical-align: middle;
}



.img{
    background-image: url("../../assets/imagens/fatec-logo.png");
    width: 100%;
    height: 100%;
    margin-top: -5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}

