
<div class="header-container bg-cor-2">
    <div   class="header-divs col-md-6" >
        <img  *ngIf="this.headerService.opcaoVoltar" src="../../assets/imagens/long-arrow-pointing-to-left.png" width="50px" alt="" [routerLink]="['/menu']"> 
        <h2 *ngIf="this.headerService.opcaoVoltar" class=" d-inline-block align-top col-md-6" [routerLink]="['/menu']" >Menu</h2>
        <img  *ngIf="!this.headerService.opcaoVoltar" (click)="tutorial()" src="../../assets/imagens/question.png" width="50px" alt=""> 
    </div>
   <div *ngIf="this.headerService.menuLogado" class="header-divs col-md-6" (click)="this.headerService.mostraOpcoes(true) "> {{this.decodedToken?.Username}} </div>
    <div *ngIf="!this.headerService.menuLogado"   [routerLink]=" ['login'] "  class="header-divs col-md-6" >Entrar Conta
        <img  class="transaladar  d-inline-block align-top " width="50" height="50" src="../../assets/imagens/sair.png" alt="">
    </div>
</div>

<div class="container-criar-conta bg-cor-1">
        <div class="criar-conta-wrap col-md-6">
    
            <h1 class="title">Trocar Senha</h1>
            <form [formGroup]="senhaNova" (ngSubmit)="onSubmit(senhaNova)" class="col-md-12 flexcroll">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input class="input bg-cor-2 col-12" type="password" formControlName="Senha" placeholder="Senha:">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input class="input bg-cor-2 col-12" type="password" formControlName="reSenha" placeholder="Repetir senha:">
                    </div>
                </div>
                
                
                    <button type="submit" id="troca-senha" class="botao btn btn-primary" >Trocar Senha</button>
                </form>
                </div>
                </div>
                
    