.container-menu {
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #ef5151;
    position: absolute;
    margin: 0px;
    margin-top: 5%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title {
    color: white;
    font-size: 450%;
    margin-top: 5%;
    text-align: center;
    text-shadow: 4px 4px #fa7268;
}

.menu-container {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    background-color: #ef5151;
    height: 80%;
}

.menu-options {
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    height: 13%;
    color: white;
    font-size: 300%;
    background-position: left;
    background-size: 12%;
    background-repeat: no-repeat;
    text-align: center;
}

.menu-options:hover {
    cursor: pointer;
}

#jogarJogo {
    background-color: #22e245;
    background-image: url('../../assets/imagens/play-arrow.png');
}

#placar {
    background-color: #35a7ff;
    background-image: url('../../assets/imagens/star.png');
}

#creditos {
    background-color: #C4C4C4;
    background-image: url('../../assets/imagens/information-symbol.png');
}

#sairJogo {
    background-color: #fa7268;
    background-image: url('../../assets/imagens/sair.png');
}