<div class="container-menu bg-cor-1" *ngIf="this.menuService.mostraMenu">
    <div class="menu-wrap col-md-5">
        <div class="title">PortuLibras</div>
        <div *ngIf="this.menuService.menuLogado" class="menu-options bg-amarelo" [routerLink]="['/lessons']">
            <img src="../../assets/imagens/play-arrow.png" width="50px" alt=""> Jogar Jogo
        </div>
        <div *ngIf="!this.menuService.menuLogado" class="menu-options bg-amarelo" (click)="this.modalService.modalMenuNaoLogadoJogar()"  >
            <img src="../../assets/imagens/play-arrow.png" width="50px" alt=""> Jogar Jogo
        </div>
        <div  *ngIf="this.menuService.menuLogado"  class="menu-options bg-azul" [routerLink]="['/menu/pontuacao']">
            <img src="../../assets/imagens/star.png" width="50px" alt=""> Placar
        </div>
        <div *ngIf="!this.menuService.menuLogado" class="menu-options bg-azul" [routerLink]="['/menu/criarconta']">  <!-- menu nao logado -->
            <img src="../../assets/imagens/star.png" width="50px" alt=""> Cadastrar
        </div>
        <div class="menu-options bg-verde" [routerLink]="['/menu/creditos']">
            <img src="../../assets/imagens/information-symbol.png" width="50px" alt=""> Créditos
        </div>
        <div *ngIf="this.menuService.menuLogado" class="menu-options bg-vermelho" (click)="sairJogo()">
            <img src="../../assets/imagens/sair.png" width="50px" alt=""> Sair Jogo
        </div>
    </div>
    
</div>
<app-modal></app-modal> 
   