<div class="header-container bg-cor-2">
    <div   class="header-divs col-md-6" >
        <img id="img-voltar" *ngIf="this.headerService.opcaoVoltar" 
        src="../../assets/imagens/long-arrow-pointing-to-left.png" 
        width="50px" 
        alt="" [routerLink]="['/menu']"> 
        <h2 id="voltar" *ngIf="this.headerService.opcaoVoltar" 
        class=" d-inline-block align-top col-md-6" 
        [routerLink]="['/menu']" >Menu</h2>
        <img id="tutorial" *ngIf="!this.headerService.opcaoVoltar" (click)="tutorial()" src="../../assets/imagens/question.png" width="50px" alt=""> 
    </div>
   <div id="username" *ngIf="this.headerService.menuLogado" class="header-divs col-md-6" (click)="this.headerService.mostraOpcoes(true) "> {{this.decodedToken?.Username}} </div>
    <div *ngIf="!this.headerService.menuLogado"   [routerLink]=" ['login'] "  class="header-divs col-md-6" >Entrar Conta
        <img id="img-username" class="transaladar  d-inline-block align-top " width="50" height="50" src="../../assets/imagens/sair.png" alt="">
    </div>

</div>


<router-outlet></router-outlet>